@import 'define.styl';
@import 'reset.styl';

.c-scroll {
    height: 100%;
    overflow: hidden;

    .c-scroll-body {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

.icon {
    height: 30px;
    width: 30px;
}

